.main-block-appbar{
    height: 91.1vh;
    display: flex;
    flex-direction: column;
    background-color: #333333;
    width: 3rem;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 768px) {
    .main-block-appbar {
     width: 35px;
    }
  }
.icon-appbar{
    padding: 3.5px;
    margin: 10px;
    color: #979797;
    cursor: pointer;
}
.icon-appbar.clicked {
    color: white;
    border-left: 2px solid #EA5C00;
  }
  