.main-block-alert {
  margin: 10px;
  background-color: #252526;
  padding: 15px;
  width: 500px;
}
.top-block-alert {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-alert{
    color: #3794FF;
}
.top-text-alert{
    color: #FFFF00;
    font-size: 16px;
    font-weight: 700;
}
.logo-alert {
  margin-right: 8px;
}
.bottom-text-alert{
    color: #ffff;
}
.top-text-alert {
  text-transform: capitalize;
}
.bottom-text-alert {
  text-transform: capitalize;
}
.bottom-block-alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button-alert {
  background-color: #0e639c;
  color: #ffff;
  text-transform: capitalize;
  padding: 10px;
  width: 80px;
  border: none;
  margin: 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}
.button-block-alert{
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px) {
    .bottom-text-alert {
       font-size: 12px;
      }
      .main-block-alert{
        width: auto;
      }
}