.home-main-container {
  display: flex;
  flex-direction: column;
  margin-left: 6%;
  --min-font-size: 36px; /* Minimum font size */
  --max-font-size: 66px; /* Maximum font size */
  --min-font-size-animtext: 12px;
  --max-font-size-animtext: 38px;
  margin-top: 4vw;
}
p {
  margin: 1.5vw 0 1.5vw 0;
}
.home-container {
  display: inline-block;
}
.type-anim-text {
  font-size: clamp(
    var(--min-font-size-animtext),
    5vw,
    var(--max-font-size-animtext)
  );
  color: #BBDEFB;
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(18), cursor 0.5s step-end infinite alternate;
}
.home-name-text {
  font-size: clamp(var(--min-font-size), 8vw, var(--max-font-size));
  font-weight: 700;
  overflow-wrap: break-word;
  color: aliceblue;
  
}
/* Cursor Blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

/*Typing animation*/
@keyframes typing {
  from {
    width: 0;
  }
}
.home-btn-container{
    margin-top: 2.5rem;
}
.home-button {
  background-color: #0e639c;
  margin-top: 1rem;
  padding: 0.8rem;
  color: #ffff;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  border: #0e639c 1px solid;
  text-decoration: none;
}
.home-button:active {
  background-color: #ffff;
  color: #252526;
  border: #ffff 1px solid;
}
.cntm-button {
  margin-left: 1rem;
  background-color: transparent;
  color: white;
  border: white 1px solid;
}
