.home-container {
  display: inline-block;
}
.type-anim-text {
  font-size: 1em;
  letter-spacing: 5px0;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19),
  cursor .4s step-end infinite alternate;
}

/* Cursor Blinking */
@keyframes cursor{
    50% {
        border-color: transparent;
    }
}

/*Typing animation*/
@keyframes typing{
    from {width: 0;}
}