.portfolio-intro__text{
    margin: 0px;
    padding: 0px;
}
.portfolio-intro__text{
    font-size: 0.9rem;
    text-align: justify;
}
.why-choose-me__item-heading{
    font-size: 1rem;
}
.why-choose-me__item{
    text-align: justify;
    margin-top: 0.5rem;
}
/* ----------------------------------------------------- */
.aboutme-container {
    counter-reset: line;
    font-size: 1.5rem;
    
    /* line-height: 2rem; */
  }
  .portfolio-intro__heading{
    color: #a39c9c;
  }
  .portfolio-intro__text{
    color: #a39c9c;
  }
  .skills-item::before {
    content: counter(line);
    counter-increment: line;
    margin-right: 1rem;
    color: grey;
    
  }
  .skills-item{
    text-align: justify;
    font-size: 0.9rem;
    color: #FFD166;
  }
  .skill-functionheading {
    color: #8093F1;
  }
  
  @media screen and (max-width: 600px) {
    .aboutme-container {
      font-size: 1rem;
      /* line-height: 1.5rem; */
    }
  }