.mainblock-navbar {
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  background-color: #252526;
}
.logo-navbar {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.titleblock-navbar {
  text-align: center;
  margin: 0 auto;
}
.title-navbar {
  color: #ffff;
  font-size: 13px;
  line-height: 0px;
}
.linktext-navbar {
  color: #CCCC;
  font-size: 13px;
  text-transform: capitalize;
  margin: 10px;
  cursor: pointer;
  line-height: 0px;
}
.linktext-navbar:hover{
  color: #ffff;
}
.linkblock-navbar {
  display: flex;
  flex-direction: row;
}

/* small screen */
@media (max-width: 600px) {
  .linkblock-navbar {
    display: none;
  }
  .mainblock-navbar {
    justify-content: flex-start;
  }
  .logo-navbar {
    margin-left: 5px;
  }
  .titleblock-navbar {
    text-align: center;
    margin: 0 auto;
  }
}
