.main-block-contact {
  display: flex;
  flex-direction: row;
}
.info-block-contact {
  counter-reset: line;
}
.kv-pair-contact::before {
  content: counter(line);
  counter-increment: line;
}
.kv-pair-contact {
  display: flex;
  flex-direction: row;
}
.text-c {
  margin: 0;
}
.contactform-main-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.inputbox-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0;
}
.input-label {
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
}
.inputbox {
  width: 18rem;
  height: 2rem;
}
.error-message {
  color: rgb(255, 121, 121);
  margin-top: 0.3rem;
  margin-left: 0.2rem;
}
.contact-button {
  background-color: #0e639c;
  color: #ffff;
  text-transform: capitalize;
  padding: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.3rem;
}
.contact-button:active {
  background-color: #ffff;
  color: #252526;
}

@media (max-width: 600px) {
  .main-block-contact {
    flex-direction: column;
  }
}
