.main-block-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-block-contact {
  counter-reset: line;
}
.kv-pair-contact::before {
  content: counter(line);
  counter-increment: line;
}
.kv-pair-contact {
  display: flex;
  flex-direction: row;
}
.text-c {
  margin: 0;
}
.contactform-main-container {
  display: flex;
  flex-direction: column;
}
.inputbox-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0;
}
.input-label {
  font-size: 1rem !important;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
}
.inputbox {
  width: 18rem;
  height: 2rem;
}
.error-message {
  color: #ff7979;
  margin-top: 0.3rem;
  margin-left: 0.2rem;
}
.contact-button {
  background-color: #0e639c;
  color: #ffff;
  text-transform: capitalize;
  padding: 0.8rem;
  width: 18.6rem;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}
.contact-button:active {
  background-color: #ffff;
  color: #252526;
}

@media (max-width: 600px) {
  .main-block-contact {
    flex-direction: column;
  }
} 
/* ---------------------------------- */
.socials-container {
  counter-reset: line;
  font-size: 1.2rem;
  line-height: 2rem;
}

.socials-item::before {
  content: counter(line);
  counter-increment: line;
  margin-right: 1rem;
  color: grey;
}

.socials-container a {
  color: #ff7979;
  text-decoration: none;
}

.socials-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.socials {
  color: #ff7979;
}

@media screen and (max-width: 600px) {
  .socials-container {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
}