.main-block-footer {
  background-color: #007acc;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.first-block-footer {
  display: flex;
  align-items: center;
}
.second-parent-block-footer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.second-block-footer {
  margin-left: 40px;
}
.third-block-footer {
  display: flex;
  flex-direction: row;
}
.text-footer {
  color: #ffff;
  font-size: 12px;
}
