.main-block-router {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content-block-router{
    display: flex;
    flex-grow: 1;
}
.routes-container
{
  display: flex;
  padding-left: 2rem;
  padding-right: 1rem;
}