/* Default Styles */
.project-card {
    border: 1px solid #ddd;
    padding: 0.5rem;
    margin: 10px 10px 0px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #030303;
  }
  
  .project-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-card-title {
    /* font-size: 1.5rem; */
    margin-bottom: 10px;
  }
  
  .project-card-description {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .project-card-techStack {
    font-size: 0.9rem;
    margin-bottom: 20px;
  }

  .project-card-btn:hover {
    background-color: #0056b3;
  }
  
  /* Hover Effect */
  /* .project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(77, 77, 77, 0.2);
  } */
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .project-card {
      padding: 15px;
    }
  
    .project-card-title {
      font-size: 1.3rem;
    }
  
    .project-card-description {
      font-size: 0.95rem;
    }
  
    .project-card-techStack {
      font-size: 0.85rem;
    }
  
    .project-card-btn {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 576px) {
    .project-card {
      padding: 10px;
    }
  
    .project-card-title {
      font-size: 1.2rem;
    }
  
    .project-card-description {
      font-size: 0.85rem;
    }
  
    .project-card-techStack {
      font-size: 0.8rem;
    }
  
    .project-card-btn {
      padding: 7px 14px;
      font-size: 0.85rem;
    }
  }
  